Testproject/Workflows/testing-18F50424-E0DF-EB11-BACB-000D3AB3543D.json
{"properties":{"connectionReferences":{"shared_office365":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cre33_sharedoffice365_b527a"},"api":{"name":"shared_office365"}},"shared_planner":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cre33_sharedplanner_ad08d"},"api":{"name":"shared_planner"}},"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cre33_sharedsharepointonline_1cfe8"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_room_lists_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"GetRoomLists_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_my_tasks":{"runAfter":{"Get_room_lists_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_planner","operationId":"ListMyTasks_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_planner"},"parameters":{},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_lists":{"runAfter":{"List_my_tasks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetTables","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://volvogroup.sharepoint.com/sites/proj-citizen-development-power-platform-coe"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}